.resultsTitle {
  color: #93A0A2;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.resultsTitle span {
  font-weight: 600;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 1rem;
  justify-content: space-between;
}